// bower:scss
// endbower

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  background: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

main {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
}

section {
  margin-bottom: 20px;
  padding-top: 20px;
}

button {
  margin: 5px 0;
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  color: #666;
  box-shadow: 0px 2px 0px rgba( #000, .1 );
}

.selection {
  display: flex;
  flex-flow: column nowrap;
}

.btn {
  min-width: 60px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #929292;
  transition: all .265s ease-in-out;

  &:hover,
  &:active {
    box-shadow: 0px 4px 0px rgba( #000, .3 );
    transform: translateY(-4px);
  }

  &_active,
  &_active:hover,
  &_active:active {
    color: #656565;
    background: #e2e2e2;
    box-shadow: inset 0 0 8px rgba( #000, .2 );
  }

  &_admin {
    background: #0090ff;
    border: 1px solid #0382e4;
    color: #fff;
    margin-bottom: 20px;
  }

  &_cancel {
    background: rgb(212, 0, 0);
    border: 1px solid #b90000;
    color: #fff;
  }

  &_save {
    background: rgb(35, 212, 0);
    border: 1px solid #21ca00;;
    color: #fff;
  }

  &__image {
    height: 20px;
    width: 20px;
    margin-right: 8px;
    border-radius: 50%;
    overflow: hidden;
  }

  &

  &-admin {
    margin-bottom: 20px;
  }

  &-action {
    flex: 1;

    &:first-child {
      margin-right: 2.5%;
    }

    &:last-child {
      margin-left: 2.5%;
    }
  }
}

.selected {
  margin: 0 20px 40px;
  width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    cursor: pointer;
  }

  &__element {
    &_float {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_title {
      padding: 10px 15px;
      background: rgba( #fff, .7 );
      box-sizing: content-box;
      border-radius: 5px;
      bottom: 15px;
      font-size: 30px;
    }
  
    &_counter {
      font-size: 20px;
      background: black;
      color: #fff;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      bottom: -25px;
    }
  }
}

.admin {
  display: flex;
  flex-flow: column nowrap;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  transition: all .25s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateY( 160px );
  opacity: 0;

  &.show {
    opacity: 1;
    transform: translateY( 0px );
  }

  &-group {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 5px;
  }

  &-label,
  &-input {
    display: inline-block;
  }

  &-label {
    width: 60px;
  }

  &-input {
    padding: 8px 5px;
    border-radius: 3px;
    border: 1px solid #f2f2f2;
  }
}